// HOME
.banner-slider {
  .item {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 890px;
    display: flex;
    align-items: center;
    .item-wrapper {
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }
  }
  .swiper-pagination {
    bottom: 60px !important;
    span.swiper-pagination-bullet {
      opacity: 1;
      background: #fff;
      width: 15px;
      height: 15px;
    }
    .swiper-pagination-bullet-active {
      background: $theme-primary !important;
      zoom: 1.3;
      position: relative;
      bottom: -1.5px;
    }
  }
}

.service-card {
  position: relative;
  border: 1px solid #c5a253;
  padding: 35px 25px;
  overflow: hidden;
  transition: color 0.3s ease;

  // background overlay for smooth fade
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/images/footer-bg.png) no-repeat center/cover;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 0;
  }

  * {
    position: relative;
    z-index: 1;
  }

  .card-head {
    display: flex;
    justify-content: space-between;

    img {
      width: 45px;
      transition: transform 0.3s ease, filter 0.3s ease;
    }
  }

  .card-content {
    margin-bottom: 12px;
    width: 80%;
  }

  &:hover {
    color: #fff;
    // border-bottom: 3px solid $theme-primary;

    &::before {
      opacity: 1;
    }

    .card-head img {
      filter: invert(1);
    }

    a {
      color: #fff !important;

      img {
        transform: rotate(360deg);
        filter: brightness(0) saturate(100%) invert(62%) sepia(30%)
          saturate(658%) hue-rotate(4deg) brightness(99%) contrast(89%);
      }
    }
  }
}

// HOME

@media (max-width: 1600px) {
  h1 {
    font-size: $font-size-h1-res;
  }
  h2 {
    font-size: $font-size-h2-res;
  }
  h3 {
    font-size: $font-size-h3-res;
  }
  h4 {
    font-size: $font-size-h4-res;
  }
  h5 {
    font-size: $font-size-h5-res;
  }
  h6 {
    font-size: $font-size-h6-res;
  }

  .banner-slider .item {
    height: 600px;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .footer-menu {
    img.foo-logo {
      width: 180px;
    }
  }
  .footer .bot-logo:before {
    left: 0px;
    right: 0px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
  br {
    display: none;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1em;
  }

  .banner-slider .item .item-wrapper {
    width: 85%;
  }

  .banner-slider .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .footer {
    .foo-socials ul {
      justify-content: center;
    }
    .bot-logo img {
      right: 0;
      left: 0;
      margin: 0 auto;
      top: -130px;
    }
  }
}
