.btn {
  padding: 6px 16px;
  padding-right: 6px;
  display: inline-block;
  text-align: center;
  position: relative;
  @include transition(0.4s ease);
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  text-transform: initial;

  &.btn-primary {
    background-color: $theme-primary;
    color: $theme-white;

    &.var-1 {
      background-color: rgba($theme-white, 1);
      color: $theme-black;

      &:hover {
        background-color: rgba($theme-white, 0.8);
        color: $theme-black;
      }
    }

    &.var-2 {
      background-color: rgba(238, 238, 238, 1);
      color: $theme-black;

      &:hover {
        background-color: rgba($theme-primary, .8);
        color: $theme-white;
      }
    }

    &.var-3 {
      background-color: rgba(238, 238, 238, 0.2);
      color: $theme-white;
      backdrop-filter: blur(5px);

      &:hover {
        background-color: rgba(238, 238, 238, 1);
        color: $theme-black;
      }
    }
    &.arr-tilt img{
      transform: rotate(315deg);
    }

    &:hover {
      background-color: rgba($theme-primary, 0.8);
      color: $theme-white;
    }

    &.var-4 {
      padding: 6px 20px;
      padding-right: 6px;
      background-color: rgba(255, 255, 255, 0.30);
      color: $theme-white;
      backdrop-filter: blur(5px);
      box-shadow: 32.633px -32.633px 32.633px 0 rgba(194, 194, 194, 0.06) inset, -32.633px 32.633px 32.633px 0 rgba(255, 255, 255, 0.06) inset;
      backdrop-filter: blur(16.64299964904785px);
      display: inline-flex;
      align-items: center;
      gap: 15px;
      *{
        transition: 0.4s all;
      }
      .btn-arrow {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2888C5;
        border-radius: 50%;
        transform: rotate(-45deg);
        transition: 0.4s all;
      }

      &:hover {
        background-color: var(--theme-primary-color);
        color: $theme-white;

        .btn-arrow {
          transform: rotate(0deg);
          background-color: var(--theme-white-color);
          svg{
            path {
              fill: black;
            }
          }
        }
      }


    }
  }

  & img {
    width: 43px;
    height: 43px;
    margin-left: 8px;
  }
}