.btn {
  padding: 12px 28px;
  display: inline-block;
  font-family: "Josefin Sans";
  text-align: center;
  position: relative;
  @include transition(0.4s ease);
  border-radius: 0;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  text-transform: initial;

  &.btn-primary {
    background-color: $theme-black;
    color: $theme-white;

    &.var-1 {
      background-color: rgba($theme-primary, 1);
      color: $theme-black;

      &:hover {
        background-color: rgba($theme-white, 1);
        color: $theme-black;
      }
    }

    &.var-2 {
      background-color: rgb(255, 255, 255);
      color: $theme-black;

      &:hover {
        background-color: rgba($theme-primary, 1);
        color: $theme-white;
      }
    }

    &.var-3 {
      background-color: transparent;
      color: $theme-white;
      border: 1px solid #fff;

      &:hover {
        background-color: rgba(238, 238, 238, 1);
        color: $theme-black;
      }
    }

    &.var-4 {
      background-color: transparent;
      color: $theme-black;
      border: 1px solid #000;

      &:hover {
        background-color: rgb(0, 0, 0);
        color: $theme-white;
      }
    }

    &.var-5 {
      background-color: transparent;
      color: $theme-black;
      border: 0;
      padding: 0;
      &:hover {
        background-color: transparent;
        color: $theme-primary;
      }
    }

    &.var-6 {
      background-color: rgba($theme-primary, 1);
      color: $theme-white;

      &:hover {
        background-color: rgba($theme-white, 1);
        color: $theme-black;
      }
    }

    &.arr-tilt img {
      transform: rotate(315deg);
    }

    &:hover {
      background-color: rgba($theme-primary, 1);
      color: $theme-white;

      img {
        filter: brightness(0) saturate(100%) invert(62%) sepia(30%)
          saturate(658%) hue-rotate(4deg) brightness(99%) contrast(89%);
        transform: rotate(360deg);
      }
    }
  }

  & img {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    @include transition(0.4s ease);
    transform: rotate(315deg);
  }
}
