form {
  
  input,
  select,
  textarea {
    padding: 15px 20px;
    border-radius: 30px; // pill-shaped
    color: $theme-lg-black;
    font-family: $sub-heading-font-family;
    border: none;
    background-color: #eee;
    font-size: $base-font-size;
    box-shadow: none;
    -webkit-appearance: none;
    width: 100%;
  }

  // Two-column layout
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select {
    flex: 1 1 calc(50% - 15px); // half width minus gap
    max-height: 55px;
  }

  textarea {
    resize: none;
  }

  input[type="submit"] {
    background: $theme-secondary;
    padding: 15px 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: $theme-white;
    margin-top: 10px;
    border: none;
    @include transition(0.3s);

    &:hover {
      background: darken($theme-secondary, 5%);
    }

    // optional for arrow icon styling
    i {
      font-size: 18px;
    }
  }
}
