// Font : Novel Display

@font-face {
  font-family: "Novel Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/novel_display/novel-display-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Novel Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/novel_display/novel-display-bold.ttf") format("truetype");
}

// Font : Josefin Sans

@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/josefin_sans/JosefinSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: uurl("fonts/josefin_sans/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/josefin_sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/josefin_sans/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/josefin_sans/JosefinSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/josefin_sans/JosefinSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$base-font-family: "Novel Display";
$heading-font-family: "Josefin Sans";
$sub-heading-font-family: "Josefin Sans";
$paragraph-font-family: "Novel Display";

$font-special: "slogan", serif;
$font-another-special: "Novel Display";
$icon-font-family: "FontAwesome";

$base-font-size: 1em !default; // 16px

// Headings
$font-size-h1: 5.625em; // 90px ÷ 16px
$font-size-h2: 3.4375em; // 55px ÷ 16px
$font-size-h3: 2em; // 32px ÷ 16px
$font-size-h4: 1.5625em; // 25px ÷ 16px
$font-size-h5: 1.25em; // 20px ÷ 16px
$font-size-h6: 1.125em; // 18px ÷ 16px

$font-size-xsmall: 0.6667em; // 10px ÷ 15px
$font-size-small: 0.8em; // 12px ÷ 15px
$font-size-medium: 1.0667em; // 16px ÷ 15px
$font-size-large: 1.2em; // 18px ÷ 15px
$font-size-xlarge: 1.6em; // 24px ÷ 15px

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

// Responsive Headings
$font-size-h1-res: 3.75em; // 60px ÷ 16px
$font-size-h2-res: 2.5em; // 40px ÷ 16px
$font-size-h3-res: 1.875em; // 30px ÷ 16px
$font-size-h4-res: 1.5em; // 24px ÷ 16px
$font-size-h5-res: 1.125em; // 18px ÷ 16px
$font-size-h6-res: 1em; // 16px ÷ 16px

//== Color Variation
//
//## Text color, Background color, Border color.

$theme-default: #000000;
$theme-white: #ffffff;
$theme-black: #000000;
$theme-silver: #f1f1f1;
$theme-grey: #323232;
$theme-lg-grey: #040404;
$theme-sp-grey: #363636;
$theme-dk-grey: #373c3f;
$theme-sp-blue: #f3f9f9;
$theme-lg-black: #3b3a3a;
$theme-lg-white: #e2eaf3;
$theme-dk-pink: #c6c6c6;
$theme-lg-black: #434343;
$theme-lg-pink: #bcbcbc;
$theme-purple: #4b0082;
$theme-dk-green: #4c4c4c;
$theme-lg-white: #f0f2f5;
$theme-lg-silver: #b3b3b3;
$theme-lg-blue: #3d5975;
$theme-dk-blue: #10121e;

// Theme Colors

$theme-primary: #c4a053;
$theme-middle: #fff;
$theme-secondary: #000000;
$theme-blue: #5aafe4;
$theme-pink: #2888c5;

$link-color: #ffffff;

//== Sprite Path
//

$sprite-image: "sprite.png";
$media-basepath: "images";
$full-path: "#{$media-basepath}/#{$sprite-image}";

// Icon Fonts Path
// $icomoon-font-path: "assets-web/icon-fonts/fonts" !default;
